/*
1. Posicionamiento --> position fix, position relative
2. Modelo de caja (Box model) --> margin, padding, width, height
3. Tipografia --> fuentes, 
4. Visuales --> efectos, border radious
5. Otros
*/
:root{
	--bitcoin-orange: #F7931A;
	--soft-orange: #FFE9D5;
	--secondary-blue: #1A9AF7;
	--soft-blue: #E7F5FF;
	--warm-black: #201E1C;
	--black: #282623;
	--grey: #BABABA;
	--off-white: #FAF8F7;
	--just:white: #FFFFFF;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}
html{
	font-size: 62.5%;
	font-family: 'DM Sans', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
	background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 40px;
	align-self: center;
	
}
.header--title-container h1{
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--off-white);
}
.header--title-container p{
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}
.header--title-container .header--button{
	position: absolute;
	left: calc(50% - 114.5px);
	top: 270px;
	display: block;
	margin-top: 35px;
	padding: 15px;
	width: 229px;
	height: 48px;
	/*Shadow*/
	background: var(--off-white);
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
	cursor: pointer;
	transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}
.header--button span{
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url(/assets/icons/down-arrow.svg);
}
.header--button:hover{
	cursor: pointer;
	transform: translateY(-3px);
}
.header--button:active{
	transform: translateY(3px); 
}
main{
	width: 100%;
	height: auto;
	background-color: var(--off-white);
}
.main-exchange-container{
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 20px;
	text-align: center;
}
.main-exchange-container--title{
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	margin: 0 auto;	
}
.main-exchange-container .backgroundimg{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-image: url(/assets/img/Bitcoin.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-exchange-container h2{
	margin-bottom: 30px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}
.main-exchange-container p{
	margin-bottom: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #757575;
}
.main-tables-container{
	display: flex;
	overflow-x: scroll; /*Se recorta el contenido en hotizontal y se agrega una barra de desplazamiento*/
	overscroll-behavior-x: contain; /*Hace que el scroll solo afecte al contenedor de las tablas y no a la pagina en general*/
	scroll-snap-type: x mandatory; /* x= los puntos de ajuste son horizontales, mandatory: evita que el scroll quede a la mitad de los 2 contenedores*/
	
}
.main-tables-container::-webkit-scrollbar{ /*Oculta la barra de desplazamiento*/
	display: none;
}
.table-container{
	position: relative;
	scroll-snap-align: center; /*Mantienes a lo elementos (las tablas) en el centro*/
	width: 80%;
	min-width: 230px;
	max-width: 500px;
	height: 260px;
	margin: 0 50px;
	font-family: "Inter", sans-serif ;
}
.table-container__content{
	position: relative;
	width: 90%;
	min-width: 196px;
	max-width: 300px;
	height: 156px;
	margin: 0 auto;
}
.table-container__content .content__title{	
	margin-bottom: 15px;
	text-align: left;
	font-family: 'DM Sans';
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.3rem;
}
.table-container__content .title-currency{
	color: var(--bitcoin-orange);
}
.table-container__content .title-commission{
	color: var(--secondary-blue);
}
.table-container__content table{
	width: 100%;
	height: 100%;
}
.table-container__content .down, .up{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
}
.table-container__content .down{
	background: url(/assets/icons/trending-down.svg) no-repeat center;
	background-size: cover;
}
.table-container__content .up{
	background: url(/assets/icons/trending-up.svg) no-repeat center;
	background-size: cover;
}
.table-container__content .table--left{
	text-align: left;
	font-family: 'Inter', sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	color: #B5B0AC;
}
.table-container__content .table--right{
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	color: #757575;
}
.table-container__date{
	width: 190px;
	height: 31px;
	margin: 0 auto;
	margin-top: 60px;
	padding: 8px;
	border-radius: 8px;
}
.date--currency{
	background-color: var(--soft-orange);
}
.date--commission{
	background-color: var(--soft-blue);
}
.table-container__date p{
	font-family: 'Inter', sans-serif;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: var(--warm-black);
}
.table__arrow--right{
	position: absolute;
	top: calc(70%);
	left: calc(100%);
	width: 12px;
	height: 8px;
}
.table__arrow--left{
	position: absolute;
	top: calc(70%);
	right: calc(105%);
	width: 12px;
	height: 8px;
}
.main-product-detail{
	position: relative; /*Esta va a ser la referencia del elemento al que le asigne absolute*/
	min-width: 320px;
	width: 100%;
	height: auto;
	padding: 20px 10px;
	background-color: var(--warm-black);
}
.product-detail__batata-logo{
	position: absolute; /*Usa como referencia el position relative de algun padre para poder posicionarse*/
	width: 38px;
	height: 25px;
	background: url(/assets/icons/batata.svg) no-repeat center;
	background-size: cover;
	top: -10px;
	left: calc(50% - 19px);
}
.product-detail__title{
	width: 90%;
	min-width: 288px;
	height: 94px;
	margin: 30px auto;
	text-align: center;
}
.product-detail__title h2{
	font-family: 'DM Sans',sans-serif;
	font-size: 2.4rem;
	font-weight: 700;
	color: white;
}
.product-detail__title p{
	margin: 0 auto;
	margin-top: 20px;
	font-family: 'DM Sans',sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	color: #808080;
}
.product-cards__container{
	width: 100%;
	height: auto;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
}
.product-detail__card{
	margin: 15px auto;
	padding: 10px;
	width: 90%;
	min-width: 288px;
	max-width: 400px;
	height: 152px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.16);
	text-align: left;
	background-color:var(--black) ;
}
.product__card-icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: 5px;
	background-size: cover;
	color: var(--bitcoin-orange);
}
.clock{
	background:url(/assets/icons/clock.svg) no-repeat center;
}
.eye{
	background: url(/assets/icons/eye.svg);
	width: 25px;
}
.dollar{
	background: url(/assets/icons/dollar-sign.svg);
}
.check{
	background: url(/assets/icons/check-circle.svg);
	width: 25px;
	height: 25px;
}
.product__card-title{
	margin-bottom: 5px;
	font-family: 'DM Sans',sans-serif;
	font-weight: Bold;
	font-size: 1.8rem;
	color: white;
}
.product__card-body{
	font-family: 'DM Sans',sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}
.bitcoin-img-conatiner{
	width: 100%;
	min-width: 288px;
	min-height: 387px;
	height: 50vh;
	background: url(/assets/img/bitcoinbaby2x.jpg) no-repeat center;
	background-size: cover ;
}
.bitcoin-img-conatiner h2{
	margin: 0 auto;
	padding-top: 60px;
	min-width: 288px;
	min-height: 26px;
	font-weight: 700;
	font-size: 2.4rem;
	text-align: center;
	color: white;
}
.main-plans-container{
	min-width: 320px;
	width: 100%;
	height: auto;
	padding-bottom: 70px;
	text-align: center;
	background-color: white;
}
.plans-container__title{
	width: 90%;
	min-width: 288px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.plans-container__title h2{
	margin-top: 50px;
	font-family: 'DM Sans', sans-serif;
	font-size: 2.4rem;
	font-weight: 700;
	text-align: center;
	color: var(--warm-black);
}
.plans-container__title p{
	margin-top: 20px;
	font-size: 1.4rem;
	font-weight: 500;
	color: #757575;
}
.plans-container__slider{
	display: flex;
	align-items: center;
	overflow-x: scroll; /*Se recorta el contenido en hotizontal y se agrega una barra de desplazamiento*/
	overscroll-behavior-x: contain; /*Hace que el scroll solo afecte al contenedor de las tablas y no a la pagina en general*/
	scroll-snap-type: x mandatory; /* x= los puntos de ajuste son horizontales, mandatory: evita que el scroll quede a la mitad de los 2 contenedores*/
	scroll-behavior: smooth;
	height: 320px;
}
.plans-container__card{
	position: relative;
	scroll-snap-align: center; /*Mantienes a lo elementos (las tablas) en el centro*/

	width: 60%;
	min-width: 190px;
	max-width: 300px;
	height: 250px;
	margin: 0 30px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(20, 17, 7, 0.3);
}
.plan__arrow--right{
	position: absolute;
	top: calc(50%);
	left: calc(110%);
	width: 12px;
	height: 8px;
}
.plan__arrow--left{
	position: absolute;
	top: calc(50%);
	right: calc(110%);
	width: 12px;
	height: 8px;
}
.plans-container__tag{
	position: absolute;
	top: -5px;
	left: calc(50% - 50px);
	width: 101px;
	height: 31px;
	padding: 8px 8px;
	font-family: 'Inter',sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;
	background-color: var(--bitcoin-orange);
	color: white;
	border-radius: 8px;
}
.tag--basic{
	background:var(--secondary-blue) ;
	color: white;
}
.tag--ultimate{
	background-color: var(--black);
	color: white;
}
.plan-card-body{
	padding-top: 50px;	
}
.plan-card__title{
	font-family: 'DM Sans',sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
	color: black;
}
.plan-card__price{
	font-family: 'Inter',sans-serif;
	font-size: 5.2rem;
	font-weight: 700;
	color: black;
}
.plan-card__price span{
	font-size: 1.2rem;
    font-weight: 500;
    vertical-align: 25px;
	color: #363636;
}
.plan-card__saving{
	margin: 15px auto 0;
	width: 158px;
	font-family: 'Inter',sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.5rem;
	color: #757575;
}
.plan-card__ca{
	margin-top: 10px;
	padding: 12px, 16px, 12px, 16px;
	width: 151px;
	height: 48px;
	font-family: 'DM Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--warm-black);
	border-radius: 4px;
	border: 2px solid var(--bitcoin-orange);
	background-color: var(--off-white);
	cursor: pointer;
}
.ca--ultimate{
	margin-top: 25px;
}
.plan-card__ca span{
	display: inline-block;
	width: 21px;
	height: 28px;
	background: url(/assets/icons/orange-right-arrow.svg);
	vertical-align: -12px
}
.plan-card__ca:hover{
	border: 2px solid var(--secondary-blue);
}
footer{
	display: flex;
	width: 100%;
	height: 150px;
	background-color: var(--bitcoin-orange);
}
footer section{
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}
footer .left ul{
	font-family: 'DM Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.9rem;
	list-style: none;
}
footer .left a{
	color: white;
	text-decoration: none;
} 
