.table__arrow--left, .table__arrow--right{
    display: none;
}
.product-cards__container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
	height: auto;
    margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
}
.main-tables-container{
    justify-content: center;
}
.plans-container__slider{
    justify-content: center;
}
.plan__arrow--right, .plan__arrow--left{
    display: none;
}
